.sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}
.sidebar-form, .sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;
}

#userImage {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}

ul.dropdown-menu > li.user-header {
    height: auto!important;
}

a.dropdown-toggle {
    background-color: #4bbc3c!important;
}

a#logout {
    color: #3c8dbc!important;
    background: transparent;
}

@media (max-width: 768px) {
    body .control-sidebar {
        padding-top:100px;
    }
}

#profileContainer {
    display: flex; /* Use flexbox para alinhar os elementos na horizontal */
}

.profileImage {
    width: 120px; /* Largura da imagem */
    height: auto; /* Mantém a proporção original da imagem */
    margin-right: 8px; /* Espaçamento à direita para separar os dados do cliente */
}

#profileImage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999; /* Certifique-se de que a imagem esteja na parte superior do layout */
}
.profileinfo p{
    font-family: Arial, sans-serif;
    font-size: 14px;
}






